.features{
    background-color: #f0f1f6;
    padding-top: 5rem;
    padding-bottom: 12rem;
    margin-bottom: 0;
}

.features-inner {
    margin: 0 auto;
    width: 82%;
}

.titulo {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.titulo h2{
    color: #232127;
    font-size: 2.7rem;
    margin: 0;
    line-height: 1.5rem;
    letter-spacing: -.15rem;
}

.titulo p {
    margin-top: 1.8rem;
    line-height: 2rem;
    font-size: 1.1rem;
}

.cartas {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
}

.cartas::after {
    content: '';
    background-color: #2acfcf;
    display: block;
    width: 70%;
    left: 12rem;
    position: absolute;
    height: .6rem;
    margin-top: 11rem;
}